@tailwind base;
@tailwind components;
@tailwind utilities;

/* app/globals.css or your Tailwind CSS file */

/* Base transition properties for all animated elements */

html {
  overflow-x: hidden;
  box-sizing: border-box;
  /* scroll-behavior: auto; */
}

body {
  box-sizing: border-box;
  margin: 0;
  /* letter-spacing: 0.5px; */
  color: var(--foreground-color);
  /* font-weight: 300; */
  font-family: var(--font-aeonik), system-ui, sans-serif;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
  overflow-x: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

@layer base {
  :root {
    /* --foreground-color: var(--foreground); */
    --foreground-color: var(--dark-text-primary);
    --background-color: var(--background);
    --dark-text-primary: #191919;
    --dark-text-secondary: #2f2f2f;
    --background: 0 0% 97%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary-foreground: 0 0% 98%;
    --primary: var(--dark-text-primary);
    --secondary: var(--dark-text-secondary);
    /* --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%; */
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --foreground-color: var(--text-primary);
    --background-color: var(--background);
    --text-primary: #eff3f9;
    --text-secondary: #c5c5c3;
    --background: 0 0 0%; /* --background: 206 20% 7%; */
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/*  */
/* ANIMATION CSS STYLES */
/*  */

.slider-track {
  animation: scroll-left 25s linear infinite;
  display: inline-flex;
}

@keyframes scroll-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease-in-out;
}

.fade-up,
.slide-in-right,
.slide-in-left,
.slide-in-up,
.slide-in-down,
.grow-in {
  @apply transition-all duration-700 ease-in-out;
}

.expand-height,
.expand-width {
  @apply transition-all duration-700 ease-linear;
}

.fade-up {
  @apply translate-y-8 opacity-0;
}

.fade-up.is-inview {
  @apply translate-y-0 opacity-100;
}

.slide-in-right {
  @apply translate-x-12 opacity-0;
}

.slide-in-right.is-inview {
  @apply translate-x-0 opacity-100;
}

.slide-in-left {
  @apply -translate-x-12 opacity-0;
}

.slide-in-left.is-inview {
  @apply translate-x-0 opacity-100;
}

.slide-in-up {
  @apply translate-y-16 opacity-0;
}

.slide-in-up.is-inview {
  @apply translate-y-0 opacity-100;
}
.slide-in-down {
  @apply -translate-y-16 opacity-0;
}

.slide-in-down.is-inview {
  @apply -translate-y-0 opacity-100;
}

.grow-in {
  @apply scale-75 opacity-0;
}

.grow-in.is-inview {
  @apply scale-100 opacity-100;
}

.expand-width {
  @apply w-0 opacity-0;
  transition-property: width, opacity;
  transform-origin: "left";
}

.expand-width.is-inview {
  @apply w-full opacity-100;
}
.expand-height {
  @apply h-0 opacity-0;
  transition-property: height, opacity;
}

.expand-height.is-inview {
  @apply h-full opacity-100;
}
